@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }
/* style.css */


/* layout */
body {
  height: 15000px; 
  background-image: linear-gradient(to top,  #FCB0BB, #fff5f5);
  font-family: 'Muli', sans-serif;}
#wrap {}
#header {height: 100px;}
#main {height: 100vh; position: relative;}
#about {height: 800px; position: relative;}
#skills {position: relative;}
#work {position: relative;}
#animation {}
#contact {background: rgba(255,255,255,0.5);}
#footer {}


/* container, row, title */
.container {width: 80%; margin: 0 auto;}
.row {margin: 0 5%;}
.tit {margin: 10vw 0 5vw 5vw;}
.tit .tit_arrow {padding: 0 0 0 5%;}
.tit .tit_num {
  display: inline-block;
  font-weight: bold;
  font-family: 'Roboto';
  letter-spacing: -10px;
  font-size: 230px;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.tit .tit_num span {font-family: 'Muli'; font-size: 210px;}
.tit h2 {display: inline-block; padding-left: 20px; font-size: 60px;}

/*===================================*/
/* #header */
#nav {display: flex; border-bottom: .5px solid #ddd;} 
#nav h1 {
  margin: 30px; margin-top: 33px;
  font-size: 30px; font-weight: 100;
  flex: none; font-family: auto;
}
#nav h1 em {font-weight: 700;}
#nav ul {margin-left: auto; margin-right: 0;}
#nav ul li {display: inline;}
#nav ul li a {
  display: inline-block;
  padding: 44px 30px;
  text-transform: uppercase; 
  font-family: "Roboto";
  font-size: 14px; font-weight: 800;
}
#nav .port {
  width: 120px;
  display: flex;
  border-left: 1px solid rgba(0,0,0,0.122);
  align-items: center; justify-content: center;
}

/*===================================*/
/* #main */
.main_cont {
  font-size: 12vw; font-weight: bold;
  font-family: 'Roboto';
  text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(158, 126, 237);
    -webkit-text-fill-color: transparent;
}
.main_cont .main_text{
  z-index: 10;
  position: absolute; top: 45%;
}
.main_cont .main_text1 {
  left: 15%;
  transform: translateY(-120%)
}
.main_cont .main_text2 {
  left: 25%;
  transform: translateY(-50%)
}
.main_cont .main_text3 {
  left: 40%;
  transform: translateY(20%)
}
.main_cont .main_circle1 {
  position: absolute; top: 10%; left: 30%;
  width: 40vw;
}
.main_cont .main_circle2 {
  position: absolute; top: 5%; right: 0;
  height: 40vh;
}
.main_cont .main_circle3 {
  position: absolute; top: 15%; right: 0;
  width: 10vw;
}
.main_cont .main_circle4 {
  position: absolute; bottom: 12%; right: 4%;
  width: 3vw;
}
.main_cont .main_circle5 {
  position: absolute; top: -50px; left: 10%;
  width: 20vw;
  opacity: .3;
}
.main_cont .main_leaf {
  position: absolute; bottom: 5%; left: 0;
  width: 15vw;
}

/*===================================*/
/* about */
#about .intro h2 {
  z-index: 1;
  position: absolute; top: 25%; left: 25%;
  margin-bottom: 100px; width: 50%;
  color: #050505;
  font-size: 18px; text-align: center; font-weight: 400;
  line-height: 30px; letter-spacing: .2em;
}
#about .intro h2 span {font-size: 10px; color: #aaa;}
#about .intro h2 span span {color: #a18cd1;}
#about .intro p {
  z-index: 1;
  position: absolute; top: 40%; left: 15%;
  margin: auto; width: 70%;
  font-size: 26px; text-align: center; font-weight: 100;
  letter-spacing: 1px;
  line-height: 3rem;
  word-break: keep-all;
  font-family: 'S-CoreDream-2ExtraLight';
}
#about .intro p strong {position: relative;}
#about .intro p strong::after {
  content: ''; width: 100%; height: 13px; display: block; opacity: 0.7;
    background-image: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 100%);
    position: absolute; left: 0; bottom: 0; z-index: -1; border-radius: 4px;
}
.about_bg_circle1 {
  position: absolute; top: 15%; left: 0;
  width: 19vw;
}
.about_bg_circle2 {
  position: absolute; bottom: 0; right: 13%;
  width: 10vw; opacity: 0.5;
}
.about_bg_line {
  position: absolute; top: 13%; right: 7%;
  width: 30vw;
}
#about .top_btn {
  position: fixed; bottom: 100px; right: 100px;
  writing-mode: tb-rl;
}

/*===================================*/
/* skills */

.skill_circle {position: absolute; top: 0; right: 0; width: 100%; z-index: -1;}
.skill_wrap {}
.skill_wrap ul {
  display: flex; /* 부모에게 flex */
  flex-wrap: wrap; /* 블록구조로 만들어주기 */
  justify-content: space-between; /* 알아서 공백 띄우기 */
}
.skill_wrap ul li {
  flex-basis: 27%; /* 가로 잡기 */
  padding: 1%;
  margin-bottom: 8%;
  position: relative;
  border: 1px solid #f7f7f7;
}
.skill_wrap ul li a {
  display: block; width: auto; margin: 5px;
  background: rgba(255,255,255,0.3);
  background: #C4B9FE;
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-attachment: fixed;
}
/* skills > 테두리 */
.skill_wrap ul li a .screen {overflow: hidden;}
.skill_wrap ul li a .screen img {display: block; background-position: center; margin: auto; opacity: 0.2;}
.skill_wrap ul li a .screen span {display: block; position: absolute; background: #7057ee; z-index: 2; transition: all 0.3s ease 0.2s;}
.skill_wrap ul li a .screen span:nth-child(1) {top: 0; left: 0;  height: 1px; width: 0;}
.skill_wrap ul li a .screen span:nth-child(2) {top: 0; right: 0; width: 1px; height: 0;}
.skill_wrap ul li a .screen span:nth-child(3) {bottom: 0; right: 0; height: 1px; width: 0;}
.skill_wrap ul li a .screen span:nth-child(4) {bottom: 0; left: 0; width: 1px; height: 0;}
.skill_wrap ul li a:hover .screen span:nth-child(1) {width: 100%;}
.skill_wrap ul li a:hover .screen span:nth-child(2) {height: 100%; transition-delay: .4s;}
.skill_wrap ul li a:hover .screen span:nth-child(3) {width: 100%; transition-delay: .8s;}
.skill_wrap ul li a:hover .screen span:nth-child(4) {height: 100%; transition-delay: 1.2s;}

/* skills > 글씨 */
.skill_wrap ul li a .skill {position: relative; font-family: 'Roboto';}
.skill_wrap ul li a .skill h4 {
  position: absolute; right: 10px; bottom: 20vw; z-index: 1;
  opacity: 0.7; font-size: 1.5vw; font-weight: bold;
  color: #fff;
  transition: all 0.3s ease;
  overflow: hidden;
}
.skill_wrap ul li a .skill span {
  position: absolute; left: 2vw; bottom: 1vw;
  font-size: 8vw; font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1px  #fff;
  /* rgb(158, 126, 237);*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #fff, #fff 50%, transparent 0);
  background-size: 100% 200%;
  background-position: 0 -100%;
}
.skill_wrap ul li a .skill span:after {content: '%';}

/* skills > h4 위치 값 */
.skill_wrap ul li:nth-child(1) a:hover .skill h4 {font-size: 6vw; bottom: 8vw; right: 1vw;}
.skill_wrap ul li:nth-child(2) a:hover .skill h4 {font-size: 6.5vw; bottom: 8vw; right: 2.5vw; letter-spacing: .5vw;}
.skill_wrap ul li:nth-child(3) a:hover .skill h4 {font-size: 5.5vw; bottom: 9vw; right: 1.25vw;}
.skill_wrap ul li:nth-child(4) a:hover .skill h4 {font-size: 3.5vw; bottom: 10vw; right: 1vw;}
.skill_wrap ul li:nth-child(5) a:hover .skill h4 {font-size: 3.5vw; bottom: 10vw; right: 1.5vw;}
.skill_wrap ul li:nth-child(6) a:hover .skill h4 {font-size: 5vw; bottom: 8.75vw; right: 2.25vw;}

/* skills > count 게이지 */
.skill_wrap ul li a:hover .skill span {transition: background-position .8s cubic-bezier(.61, .09, .29, 1); z-index: 10;}
.skill_wrap ul li:nth-child(1) a:hover .skill span {background-position: 0 -33%;}
.skill_wrap ul li:nth-child(2) a:hover .skill span {background-position: 0 -33%;}
.skill_wrap ul li:nth-child(3) a:hover .skill span {background-position: 0 -45%;}
.skill_wrap ul li:nth-child(4) a:hover .skill span {background-position: 0 -39%;}
.skill_wrap ul li:nth-child(5) a:hover .skill span {background-position: 0 -35%;}
.skill_wrap ul li:nth-child(6) a:hover .skill span {background-position: 0 -47%;}

/*===================================*/
/* work */
.work_circle {
  position: absolute; top: 50%; left: 0; width: 100%; z-index: -1;
  opacity: .8;
    transform:rotate(0deg); /* 이미지 좌우 반전 */
   -moz-transform: scaleX(-1); 
     -o-transform: scaleX(-1); 
-webkit-transform: scaleX(-1); 
        transform: scaleX(-1);   
    filter: FlipH;
-ms-filter: "FlipH";
}
#work .container {width: 90vw;}
.work_area {}
.work_area .work {
  display: flex; /* 부모에게 flex */
  flex-wrap: wrap; /* 블록구조로 만들어주기 */
  justify-content: space-between; /* 알아서 공백 띄우기 */
  width: 100%; height: 90vh;
  /* padding: 4px 15px;*/
  margin: auto; margin-top: 10vw;
  box-sizing: border-box;}
.work_area .work.w_right {text-align: right;}

/* work text */
.work_area .work .w_text {
  position: relative;
  flex-basis: 46%;
  margin: auto;
  background: rgba(255,255,255,0.6);
  padding: 2% 4%;
  box-sizing: border-box;}
.work_area .work.w_left .w_text:before {
  content: '';
  display: block;
  position: absolute;
  top: 1vw; right: -1vw;
  width: 100%; height: 100%;
  z-index: -1;
  border: 1px solid #7057ee;
}
.work_area .work.w_right .w_text:before {
  content: '';
  display: block;
  position: absolute;
  top: 1vw; left: -1vw;
  width: 100%; height: 100%;
  z-index: -1;
  border: 1px solid #7057ee;
}
.work_area .work .w_text h3 {
  position: relative;
  margin-top: 1vw;
  display: block;
  font-size: 6vw; font-weight: bold;
  font-family: 'Roboto';
  -webkit-text-stroke: 1px rgb(158, 126, 237);
  -webkit-text-fill-color: transparent;}
.work_area .work:nth-child(1) .w_text {}
.work_area .work:nth-child(2) .w_text button {margin-left: 59%;}
.work_area .work:nth-child(3) .w_text {}
.work_area .work:nth-child(4) .w_text .w_tag {margin-top: 3vw;}
.work_area .work:nth-child(4) .w_text button {margin-left: 59%;}
.work_area .work .w_text h3 span {
  position: absolute; top: 4vw; right: 30px;}
.work_area .work .w_text h4 {
  margin-top: -20px;
  margin-bottom: 20px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  display: none;
}
.work_area .work .w_text p {
  margin: 1.5vw 0;
  font-size: 1.3rem; font-weight: lighter;
  word-break: keep-all;
}
.work_area .work .w_text .w_tag {}
.work_area .work .w_text .w_tag span {
  display: inline-block;
  margin-right: 7px;
  cursor: pointer;
  color: #888;
}
.work_area .work .w_text .w_tag span:last-child {margin-right: 0;}

/* work button */
.work_area .work .w_text button {
  display: grid; color: #111;
  margin-top: 45px;
  margin-bottom: 30px;
  background: rgba(255,255,255,0);
  border-radius: 28px;
  font-weight: 900;
  font-family: 'Roboto';
}
.work_area .work .w_text button .cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
}
.work_area .work .w_text button .cta:before {
  content: "";
  position: absolute;
  top: 1px; left: 1px;
  display: block;
  border-radius: 28px;
  background: rgba(200, 136, 237,.5);
  width: 56px;
  height: 56px;
  transition: all .3s ease;}
.work_area .work .w_text button .cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle;}
.work_area .work .w_text button .cta svg {
  position: relative;
  top: 2px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all .3s ease;}
.work_area .work .w_text button .cta:hover {color: #000;}
.work_area .work .w_text button .cta:hover:before{ 
  width: 98.5%;
  background: rgba(200, 136, 237,.7);
}
.work_area .work .w_text button .cta:hover svg {
  transform: translateX(0)}
.work_area .work .w_text button .cta:active{
  transform: scale(.96)}

/* work img */
.work_area .work .w_img {
  position: relative;
  flex-basis: 50%;
  margin: auto;
  border-radius: 30%;
  max-width: 620px;
}
.work_area .work.w_left .w_img:before {
  content: '';
  position: absolute;
  top: -50px; left: -50px;
  width: 300px; height: 300px;
  border-radius: 50%;
  background: rgba(200, 136, 237,.3);
  z-index: -1;
}
.work_area .work.w_right .w_img:before {
  content: '';
  position: absolute;
  top: -30px; right: -30px;
  width: 300px; height: 300px;
  border-radius: 50%;
  background: rgba(200, 136, 237,.3);
  z-index: -1;
}
.work_area .work .w_img .screen {
  /* background: #ffcd28; 찐노란색 */ 
  /* background: #6E26B3; 찐보라색 */
/*  background: rgba(200, 136, 237,.3); */
  background: rgba(255,255,255,0.5);
/*
  background: #C4B9FE;
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-attachment: fixed;
*/
  /* for aspect ratio = 가로 세로 비율 */
  position: relative;
  width: 100%;
}

.work_area .work .w_img .screen:before {
  content: "";
  display: block;
  /* for aspect ratio ~3:5 */
  padding-top: 100%;
}
.work_area .work .w_img .viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 2%;
  /* background: #333; */
}
/* Screenshot Hover Scroll Additions */
.work_area .work .w_img .viewport {
  transition: background-position 10s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
}
.work_area .work .w_img:hover .viewport {
  background-position: 0 100%;}
/*
빛 반사되는 그림자 주는 효과
.work_area .work .w_img .viewport:after {
  background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
*/

/*===================================*/
/* animation */
.animation {overflow: hidden;}
.animation > div {position: relative; height: 100vh;}
.animation .ani_cont1 {
  width: 100%; height: 100vh; perspective: 800;}
.animation .ani_cont1 .cube {
  position: relative;
  top: 30vh;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  animation : spin 5s infinite linear;
  transform-style: preserve-3d;}
@keyframes spin {
  from { transform: rotateY(0) rotateX(0); }
  to   { transform: rotateY(-360deg) rotateX(360deg); }
}

.animation .ani_cont1 .cube > div {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid #aaa;
  opacity: .8;}
.animation .ani_cont1 .cube > div:hover {
  opacity: 1;
  transition: opacity .3s linear;}
.animation .ani_cont1 .cube .one { 
  transform: rotateX(90deg) translateZ(100px); 
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);}
.animation .ani_cont1 .cube .two { 
  transform: translateZ(100px); 
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);}
.animation .ani_cont1 .cube .three { 
  transform: rotateY(90deg) translateZ(100px); 
  background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);}
.animation .ani_cont1 .cube .four { 
  transform: rotateY(180deg) translateZ(100px); 
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);}
.animation .ani_cont1 .cube .five { 
  transform: rotateY(-90deg) translateZ(100px); 
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);}
.animation .ani_cont1 .cube .six { 
  transform: rotateX(-90deg) translateZ(100px); 
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);}

.animation .ani_text {
  position: absolute;
  top: 0; right: 0;
}
.animation .ani_text h3 {
  font-size: 30px; color: #fff;
}
.animation .ani_text p {
  font-size: 16px; text-align: center; font-weight: 100;
  letter-spacing: 1px;
  line-height: 3rem;
  word-break: keep-all;
  font-family: 'S-CoreDream-2ExtraLight';
}

/* contact */
.contact {
  font-family: 'S-CoreDream-2ExtraLight';
  width: 70%;
  margin: 0 auto;
  background: rgba(255,255,255,0.8);
}
.contact form {}
.contact form .to {transition: all 0.6s 0.3s ease-in-out}
.contact form .from {transition: all 0.6s 0.3s ease-in-out}
.contact form div {font-size: 32px; margin-bottom: 30px; position: relative;}
.contact form div:after {content: ''; border: .5px solid #000; position: absolute; left: 0; bottom: 10px; width: 100%;}
.contact form .name {}
.contact form .emal {}
.contact form .msg {}








